body
{
	background-color: ThreeDHighlight;
	font-family: Tahoma;
	font-size:10pt;
	font-weight: normal;
	font-style: normal;
}
table,td, th  {
    font-family: tahoma;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 10pt;
    font-variant:normal;
    font-style: normal;
    color: -webkit-auto;
    text-align:justify;
    -webkit-border-radius:7px;
    border-radius: 7px;
    padding-right:2px;
    padding-top: 2px;

}
.titletd
{
	/*background-color:#EFEFEF;*/
	background-color: #E7F1FE;
	width: 160px;
}
.titletdeven
{
	width: 160px;
	background-color: #FFFFFF;
}
#salary{
    cursor:hand;
}
#insu{
    cursor:hand;
}
#jari{
  cursor:hand;
}
#dollar{
  cursor:hand;
}


.headtr{
    background-color:#FFFF99;
    text-align: center;
    height: 30px;
}
.insutr{
    background-color:#F5DEB3;
    height: 30px;
}
.jaritr{
    background-color:#FFFF99;
    height: 30px;
}
.dollartr{
    background-color:#F5DEB3;
    height: 30px;
}

.inter{
	background-color:#9FF;
    height: 30px;
}
.inter:hover{
	background-color: #99CCFF;
    height: 30px;
}

.whitetr{
    background-color: #FFFFFF;
    height: 30px;
}
.whitetr:hover{
    background-color: #99CCFF;
    height: 30px;
}


#tblmain
{
	border: thin solid #0000FF;
        width:1000px;
}

.Header
{
	padding: 1px;
	margin: 1px;
	background-image: url(Header.jpg);
	/*background-position: right top;*/
	background-repeat: no-repeat;
	height: 131px;
	color: #FFFFFF;
	text-align:center;
}
.HeaderPic
{
	border-width: 0px;
	background-image: url(Header.jpg);
	/*background-repeat:repeat-x ;
	background-position: center center;*/
	width: 70px;
	height: 70px;
}
.Login{
	direction:rtl;
	background-color:#EFEFEF;

    border:thin;
    border-style: none;
	border-radius:8px;
	padding:14px 7px ;
	height:170px;
}


a:link{
    text-decoration: none;
}
/*.menuitem{
   height: 26px;
   text-align: center ;
   width: 140px;
}*/


/*.menuitem a{
    background-image: url(menuitem1.png);
    background-repeat:no-repeat;
    height: 26px;
    text-align: center ;
    width: 140px;
}
.menuitem a:hover{
    background-image: url(menuitem2.png);
    background-repeat:no-repeat;
    height: 26px;
    text-align: center;
    width: 140px;
}
*/
a:visited
{
	text-decoration: none;
}
/*
a:active{
    background-color:#FFFFFF;
}
*/

#Right
{
	border-color: #0000CC;
	padding: 10px;
	width: 15%;
	background-color: #FFFFFF;
	vertical-align: text-top;
	text-align: left;
	font-family: tahoma;
}
#Left
{
	border-width: 0px;
	width: 0%;
	vertical-align: text-top;
}
#Main
{
	vertical-align:text-top;
}
#txtmessage
{
	width:inherit;
}

.error{
	/*background-color:#F2F2F2;*/
	color: #F00;
    height: 27px;
    background-color: lightYellow;
    border-color: #E6DB55;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    padding-top:7px;
    padding:10px;

}
.Menu{
    background-color:#ffffff;
	background-image: url(Menu1.png);
	background-position: right top;
	background-repeat: repeat-x;
    text-align: center;

}
.reportmenu{
    background-color: #ffffff;
	background-image: url(Menu3.png);
	background-position: right top;
	background-repeat:no-repeat;

}
.settingmenu{
    background-color: #ffffff;
	background-image: url(Menu4.png);
	background-position: right top;
	background-repeat:no-repeat;
}

.menuitem{
    height: 25px;
    width: 140px;
    min-height: 25px;
    min-width:140px;
    background-image: url(menuitem1.png);
    background-repeat:no-repeat;
    text-align: center ;
    vertical-align:middle;
}
.menuitem:hover{
    background-image: url(menuitem2.png);
    background-repeat:no-repeat;
    height: 25px;
    text-align: center;
    vertical-align:middle;
    width: 140px;
}


.logout{
	background-color:#FFFFCC;	
}
.Alter{
    background-color: #00CCFF;
	vertical-align:middle;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    height: 20px;
    padding-right:7px;
    padding-top: 7px;

}

.btn{
	background-image:url(reg.png);
	width:50px;
	height:30;
	background-repeat:no-repeat;
}
.message{
    background-color: lightYellow;
    border-color: #E6DB55;
	height:30px;
    padding: 4px;
    text-align: center;
}
.update{
	background-image:url(update.png);
    display:block;
	width:25px;
	height:25px;
	background-repeat:no-repeat;
	border:0;
}
.update:hover{
	background-image:url(update1.png);
    display:block;
	width:25px;
	height:25px;
	background-repeat:no-repeat;
}
.delete{
	background-image:url(delete.png);
    display:block;
	width:25px;
	height:25px;
	background-repeat:no-repeat;
}
.delete:hover{
	background-image:url(delete1.png);
    display:block;
	width:25px;
	height:25px;
	background-repeat:no-repeat;
}
.bank{
    border:thin;
    width: 100%;
    padding: 1px 1px;
}
.address{
	border:thin;
    border-color:#99FF66;
	color:#0;
    background-color:#EEE;
	border-style:dashed;
    font-size:12px;
    font-weight:lighter;
    text-align: center;
	height:35px;
	padding-top:5px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
	margin-bottom:15px;

}
.search{
   background-image:url(search.png);
	width:50px;
	height:30;
	background-repeat:no-repeat;

}
table.pagelimit{
    background-color:#CCFF00;
	width:100%;
	height:30;
    overflow:scroll;
	background-repeat:no-repeat;
}

.pagefirst{
    background-image:url(first.png);
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	border:0;
}
.pagenext{
    background-image:url(back.png);
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	border:0;
}
.pageprev{
    background-image:url(for.png);
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	border:0;
}
.pagelast{
    background-image:url(last.png);
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	border:0;
}
.mainform
{
	background-color:rgb(250,250,248);
}


input[type="text"]
{
	border: 2px solid #FFF;
	border-radius:8px;
	font-family: tahoma;
	color: #0066FF;
    height: 25px;
    -webkit-border-radius:6px;
}

/*input[type="text"]:active
{
	border-color: #FFFF00;
}*/
input[type="text"]:focus
{
	border: medium solid #FFCC00;
    height: 21px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 0px 6px #3591CF;
    -moz-box-shadow: 0px 0px 6px #3591CF;
    -webkit-box-shadow: 0px 0px 6px #3591CF;
    outline: none;
}
input[type="password"]
{
	border: 2px solid #FFF;
	border-radius:8px;
	font-family: tahoma;
	color: #0066FF;
    height: 25px;
    -webkit-border-radius:6px;
}

/*input[type="text"]:active
{
	border-color: #FFFF00;
}*/
input[type="password"]:focus
{
	border: medium solid #FFCC00;
    height: 21px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 0px 6px #3591CF;
    -moz-box-shadow: 0px 0px 6px #3591CF;
    -webkit-box-shadow: 0px 0px 6px #3591CF;
    outline: none;
}

textarea
{
   border-color:#99FF33;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}
textarea:focus
{
   border-color:#99FF33;
   -webkit-border-radius: 6px;
}
input[type="submit"]{
    -webkit-border-radius: 6px;
    box-shadow: 0px 0px 6px #3591CF;
    -moz-box-shadow: 0px 0px 6px #3591CF;
    -webkit-box-shadow: 0px 0px 6px #3591CF;
    outline: none;
}

select
{
    position:static;
    overflow:visible;
	border: 2px solid #FFC;
	font-family: tahoma;
	color: #0066FF;
    -webkit-border-radius:6px;
    -moz-border-radius: 6px;
     border-radius:6px;


}
 .ajaxshow{
  position:relative;
  top: 10%;
  right: 1%;

}

.judgegrid li {
    display: block;
}
.name{
  text-align: right;
  font-family: Tahoma;
  float: right;
  padding: 10px 10px 0px 0px;
}
ul, li {
    list-style-type: none;
	padding-top:7px;
}
.information{
	position:relative;
	top:55px;	
}
.logo{
	position:relative;
	right: 240px;
    top: -100px;
	z-index:5;
		
}
.position{
	background-color:#EFEFEF;
	border-radius:10px;
	height:284px;
	margin:10px 10px 10px 10px;
}
.mandatory{
	color:#F00;	
}
.right{
	direction:rtl !important;
	float:right;
	margin:4px;	
}
.registeruser{
	text-align:center;
	height:20px;
	width:60px;
	background-color:#EAEAEA;	
	border-radius:4px;
}
.registeruser:hover{
	background-color:#0CF;	
}
.groupheader{
	border:thin #CFF ;
	border-radius:5px;
	height:15px;
	background-color:#999;
	text-align:center;
	padding:3px;	
}